{% extends "base_generic.html" %}

{% block content %}
  <h1>Add Member to {{ project.name }}</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Select User:</label>
      <select name="username" id="username" class="form-control">
        {% for user in users %}
          <option value="{{ user.username }}">{{ user.username }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add Member</button>
  </form>
  <a href="{% url 'project_detail' project.pk %}" class="btn btn-secondary mt-3">Cancel</a>
{% endblock %}

